@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Database First Web Applicatoin</h1>
    <p class="lead">An example of using the Entity Framework to create models from a database table(s)</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Entity Framework Model</h2>
        <p>
            Entity Framework allows programmers to directly interact with the database through C# programs. 
        </p>
    </div>
    <div class="col-md-4">
        <h2>Additional Views</h2>
        <p>
            Views are how data is presented to the user, i.e. what a user sees. A template in Shared/_Layout defines what gets applied to each page in the project, but additional views have been created for the Admin page.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Controllers</h2>
        <p>
            Related methods have been added to controllers. The controllers take in user input and pass commends to the models and views based on user input.
        </p>
    </div>
</div>