@model IEnumerable<Car_Insurance.Models.Insuree>

<div class="row no-gutters">
    <div class="card col-sm-12 col-md-10 col-lg-6 mx-auto shadow">
        <div class="card-header text-center">
            <h5 class="m-0">Insurance Quotes</h5>
        </div>
        <div class="card-body">
            @foreach (var insuree in Model)
            {
                <div class="row mb">
                    <div class="col">
                        @insuree.FirstName @insuree.LastName
                    </div>
                    <div class="col">
                        @insuree.EmailAddress
                    </div>
                    <div class="col">
                        @insuree.Quote
                    </div>
                    <hr />
                </div>
            }
           
        </div>
    </div>
</div>