@{
    ViewData["Title"] = "About This Project";
}
<div class="text-center">

    <h1>@ViewData["Title"]</h1>
    <h2>ASP.NET 6.0 MVC EF Core</h2>
</div>

<p>Skills and technologies: 
    <ul>
        <li>C# ASP.Net 6.0 EF Core</li>
        <li>MVC design pattern</li>
            <ul>
                <li>Custom conroller methods</li>
                <li>Partial views</li>
                <li>Razor syntax</li>
            </ul>
        <li>SQL Server</li>
            <ul>
                <li>Code first databse scaffolding</li>
                <li>Custom method to seed the databse at startup</li>
                <li>Full CRUD functionality</li>
            </ul>
        <li>API </li>
            <ul>
                <li>Query the API at startup to seed database</li>
            </ul>
        <li>Bootsrap</li>
        <li>HTMl & CSS</li>
    </ul>
</p>
<p>NuGet Packages:
    <ul>
        <li>Bootstrap Version 5.3.0</li>
        <li>Microsoft.EntityFrameworkCore</li>
        <li>Microsoft.EntityFrameworkCore.Design</li>
        <li>Microsoft.EntityFrameworkCore.SqlServer</li>
        <li>Microsoft.EntityFrameworkCore.Tools</li>
        <li>Newtonsoft.Json</li>
    </ul>
</p>


<p>This project was populated using data from the Star Wars API.
<br />Special thanks to: <a href="https://swapi.dev/" >swapi.dev</a>.
</p>
<p>Additional thanks to <a href="https://github.com/Carla-Codes/starry-night-css-animation/tree/master" target="_blank">Carla-Codes</a> for CSS styling tips to create the starry night background. You can find her youTube channel <a href="https://www.youtube.com/watch?v=0t6Dmp70kTw" target="_blank">here</a>.</p>