@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Star Wars Application Programming Interface</h1>
</div>

<div>
    <p>Use this to display API data?</p>
    <div class="text-center">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Starships</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">People</a>
            </li>
        </ul>
    </div>
</div>

<hr />

<div class="text-center">
    <p2>The PRINCE of APIs:</p2>
    <br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/nV6fR-ZyG18" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>

<hr />
