@model IEnumerable<Project_StarWarsAPI_MVC.Models.Content.Starship>

@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Star Wars Application Programming Interface</h1>
</div>

<div>
</div>



