@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<h2>Just kidding 🐣 You found an easter egg. </h2>

<p>Here are a few words from the master of APIs: </p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/nV6fR-ZyG18?autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

