@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>The server time is @DateTime.Now</p>
    <hr />
    <h2>Custom H2 tag.</h2>
</div>
