@page
@model WebAppTutorial.Pages.OtherPageModel
@{
    ViewData["Title"] = "Other Page";
}
<h1>@ViewData["Title"]</h1>

<p>Add content to this page like any other html document.</p>

<img src="https://images.unsplash.com/photo-1570824104453-508955ab713e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=711&q=80" />
<p>In the meantime, here's a basket of happiness.</p>
