@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Star Wars API</h1>
    <ul>
        <li>Films</li>
        <li>People</li>
        <li>Planets</li>
        <li>Species</li>
        <li>Starships</li>
        <li>Vehicles</li>
    </ul>
</div>
