@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>My secuirty team: </p>
<img src="https://swrpggm.com/wp-content/uploads/2022/01/KX-Series-Security-Droid_FE.png" alt="Enforcer Droid" />
