@{
    ViewBag.Title = "Talk to Me";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    301 SW 4th Ave Suite 200
    <br />Portland, OR 97204
    <br />
    <abbr title="Phone">P:</abbr>(503) 206-6915
</address>

<address>
    <strong>Contact:</strong> <a href="https://github.com/serengetijade">SerengetiJade GitHub</a>
</address>

<small>
    Contact Information last updated: @DateTime.Now.Year
</small>