@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>C# Web App Example with MVC</h1>
    <p>This project shows how to implement the MVC design framework to </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Define models</h2>
        <p>
            Models are the things in the domain that you are working in.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Create additional views</h2>
        <p>The view is the presentation to the user.</p>
    </div>
    <div class="col-md-4">
        <h2>Razor Tags</h2>
        <p>Use C# in an html document to keep the date accurate.</p>
    </div>
</div>