<!--Declare which Folder to access-->
@using MVC_Project.Models  

<!--Define which model in the Models folder to access-->
@model List<Instructor>  

@{
    ViewBag.Title = "Instructors";
}

<h2>Instructors</h2>
@{ 
    foreach(Instructor instructor in Model)
            {
                <h4>@instructor.FirstName @instructor.LastName</h4>
            }
}

