@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Jade Abreu
    <br />Hood River, OR<br />
</address>

<address>
    <strong>Marketing:</strong> <a href="https://github.com/serengetijade">My gitHub portfolio</a>
</address>