@model Project_StarWarsAPI_MVC.Models.Swapi.Starship

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Starship</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @{string imageFile = nameof(Model.ImageFile);}
                <label asp-for=@imageFile class="control-label"></label>
                <br /><input asp-for=@imageFile type="file" />
                <span asp-validation-for=@imageFile class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Manufacturer" class="control-label"></label>
                <input asp-for="Manufacturer" class="form-control" />
                <span asp-validation-for="Manufacturer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cost_In_Credits" class="control-label"></label>
                <input asp-for="Cost_In_Credits" class="form-control" />
                <span asp-validation-for="Cost_In_Credits" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Length" class="control-label"></label>
                <input asp-for="Length" class="form-control" />
                <span asp-validation-for="Length" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Max_Atmosphering_Speed" class="control-label"></label>
                <input asp-for="Max_Atmosphering_Speed" class="form-control" />
                <span asp-validation-for="Max_Atmosphering_Speed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Crew" class="control-label"></label>
                <input asp-for="Crew" class="form-control" />
                <span asp-validation-for="Crew" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Passengers" class="control-label"></label>
                <input asp-for="Passengers" class="form-control" />
                <span asp-validation-for="Passengers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cargo_Capacity" class="control-label"></label>
                <input asp-for="Cargo_Capacity" class="form-control" />
                <span asp-validation-for="Cargo_Capacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Consumables" class="control-label"></label>
                <input asp-for="Consumables" class="form-control" />
                <span asp-validation-for="Consumables" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hyperdrive_Rating" class="control-label"></label>
                <input asp-for="Hyperdrive_Rating" class="form-control" />
                <span asp-validation-for="Hyperdrive_Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MGLT" class="control-label"></label>
                <input asp-for="MGLT" class="form-control" />
                <span asp-validation-for="MGLT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Starship_Class" class="control-label"></label>
                <input asp-for="Starship_Class" class="form-control" />
                <span asp-validation-for="Starship_Class" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pilots" class="control-label"></label>
                <input asp-for="Pilots" class="form-control" />
                <span asp-validation-for="Pilots" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Films" class="control-label"></label>
                <input asp-for="Films" class="form-control" />
                <span asp-validation-for="Films" class="text-danger"></span>
            </div>
            <div class="form-group">
                @{string created = nameof(Model.Created);}
                <label asp-for=@created class="control-label"></label>
                <input asp-for=@created class="form-control" />
                <span asp-validation-for=@created class="text-danger"></span>
            </div>
            <div class="form-group">
                @{string edited = nameof(Model.Edited);}
                <label asp-for=@edited class="control-label"></label>
                <input asp-for=@edited class="form-control" />
                <span asp-validation-for=@edited class="text-danger"></span>
            </div>
            <div class="form-group">
                @{string url = nameof(Model.Url);}}
                <label asp-for=@url class="control-label"></label>
                <input asp-for=@url class="form-control" />
                <span asp-validation-for=@url class="text-danger"></span>
            </div>
            <div class ="form-group">    
                <input type="submit" value="Create" class="btn btn-outline-warning" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
