@model Project_StarWarsAPI_MVC.Models.Content.Starship

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit @Model.name</h1>

<h4>Starship</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="model" class="control-label"></label>
                <input asp-for="model" class="form-control" />
                <span asp-validation-for="model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="manufacturer" class="control-label"></label>
                <input asp-for="manufacturer" class="form-control" />
                <span asp-validation-for="manufacturer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cost_in_credits" class="control-label"></label>
                <input asp-for="cost_in_credits" class="form-control" />
                <span asp-validation-for="cost_in_credits" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="length" class="control-label"></label>
                <input asp-for="length" class="form-control" />
                <span asp-validation-for="length" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="max_atmosphering_speed" class="control-label"></label>
                <input asp-for="max_atmosphering_speed" class="form-control" />
                <span asp-validation-for="max_atmosphering_speed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="_pilots" class="control-label"></label>
                <input asp-for="_pilots" class="form-control" />
                <span asp-validation-for="_pilots" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="crew" class="control-label"></label>
                <input asp-for="crew" class="form-control" />
                <span asp-validation-for="crew" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="passengers" class="control-label"></label>
                <input asp-for="passengers" class="form-control" />
                <span asp-validation-for="passengers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cargo_capacity" class="control-label"></label>
                <input asp-for="cargo_capacity" class="form-control" />
                <span asp-validation-for="cargo_capacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="consumables" class="control-label"></label>
                <input asp-for="consumables" class="form-control" />
                <span asp-validation-for="consumables" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="hyperdrive_rating" class="control-label"></label>
                <input asp-for="hyperdrive_rating" class="form-control" />
                <span asp-validation-for="hyperdrive_rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MGLT" class="control-label"></label>
                <input asp-for="MGLT" class="form-control" />
                <span asp-validation-for="MGLT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="starship_class" class="control-label"></label>
                <input asp-for="starship_class" class="form-control" />
                <span asp-validation-for="starship_class" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="_films" class="control-label"></label>
                <input asp-for="_films" class="form-control" />
                <span asp-validation-for="_films" class="text-danger"></span>
            </div>    
            <div class="form-group">
                <label asp-for="_pilots" class="control-label"></label>
                <input asp-for="_pilots" class="form-control" />
                <span asp-validation-for="_pilots" class="text-danger"></span>
            </div>         
            <div class="form-group">
                <label asp-for="_films" class="control-label"></label>
                <input asp-for="_films" class="form-control" />
                <span asp-validation-for="_films" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="created" class="control-label"></label>
                <input asp-for="created" class="form-control" />
                <span asp-validation-for="created" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="edited" class="control-label"></label>
                <input asp-for="edited" class="form-control" />
                <span asp-validation-for="edited" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="url" class="control-label"></label>
                <input asp-for="url" class="form-control" />
                <span asp-validation-for="url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
