@model Project_StarWarsAPI_MVC.Models.ViewModels.StarshipViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit @Model.Name</h1>

<h4>Starship</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Image" />
            <img src="@Url.Action("byteToImg", new { Id = Model.Id})" alt="Ship Image: @Model.Name" style="width: 25vw; height:auto" />
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <br /><input asp-for="ImageFile" type="file" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Manufacturer" class="control-label"></label>
                <input asp-for="Manufacturer" class="form-control" />
                <span asp-validation-for="Manufacturer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cost_In_Credits" class="control-label"></label>
                <input asp-for="Cost_In_Credits" class="form-control" />
                <span asp-validation-for="Cost_In_Credits" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Length" class="control-label"></label>
                <input asp-for="Length" class="form-control" />
                <span asp-validation-for="Length" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Max_Atmosphering_Speed" class="control-label"></label>
                <input asp-for="Max_Atmosphering_Speed" class="form-control" />
                <span asp-validation-for="Max_Atmosphering_Speed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pilots" class="control-label"></label>
                <input asp-for="Pilots" class="form-control" />
                <span asp-validation-for="Pilots" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Crew" class="control-label"></label>
                <input asp-for="Crew" class="form-control" />
                <span asp-validation-for="Crew" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Passengers" class="control-label"></label>
                <input asp-for="Passengers" class="form-control" />
                <span asp-validation-for="Passengers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cargo_Capacity" class="control-label"></label>
                <input asp-for="Cargo_Capacity" class="form-control" />
                <span asp-validation-for="Cargo_Capacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Consumables" class="control-label"></label>
                <input asp-for="Consumables" class="form-control" />
                <span asp-validation-for="Consumables" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hyperdrive_Rating" class="control-label"></label>
                <input asp-for="Hyperdrive_Rating" class="form-control" />
                <span asp-validation-for="Hyperdrive_Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MGLT" class="control-label"></label>
                <input asp-for="MGLT" class="form-control" />
                <span asp-validation-for="MGLT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Starship_Class" class="control-label"></label>
                <input asp-for="Starship_Class" class="form-control" />
                <span asp-validation-for="Starship_Class" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Films" class="control-label"></label>
                <input asp-for="Films" class="form-control" />
                <span asp-validation-for="Films" class="text-danger"></span>
            </div>    
            <div class="form-group">
                <label asp-for="Pilots" class="control-label"></label>
                <input asp-for="Pilots" class="form-control" />
                <span asp-validation-for="Pilots" class="text-danger"></span>
            </div>         
            <div class="form-group">
                <label asp-for="Films" class="control-label"></label>
                <input asp-for="Films" class="form-control" />
                <span asp-validation-for="Films" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Created" class="control-label"></label>
                <input asp-for="Created" class="form-control" />
                <span asp-validation-for="Created" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Edited" class="control-label"></label>
                <input asp-for="Edited" class="form-control" />
                <span asp-validation-for="Edited" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Url" class="control-label"></label>
                <input asp-for="Url" class="form-control" />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-outline-warning" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
